html, body, main, section, header, div, article, aside, figure, figcaption, image, iframe, h1, h2, h3, h4, h5, h6, p, table, blockquote {
    margin: 0;
    padding: 0;
  }
 
  :root {
    --background: #130e0e;
    --button: #5f5f5f;
    --text: #f3eeee;
    --accent: #004F42;
    --dk-acc: #004F42;
    --reg: all .22s ease-in-out;
    --font: 'Montserrat', sans-serif;
    font-size: 62.5%;
  }
 
  ::selection {
    color: var(--background);
    background-color: var(--accent);
  }
  body {
    color: var(--text);
    font-size: 2rem;
    width: 98vw;
    margin: auto;
    line-height: 1.3;
    font-weight: 500;
    font-family: var(--font);
    padding: 2rem 0;
  }
  .nav, h1, h2, h3, h4, h5, h6, .btn {
    font-family: 'Silkscreen';
    letter-spacing: 1px;
  }
  h2 {
    text-align: center;
    margin-bottom: 1.5em;
  }
  p {
    margin-bottom: 1em;
  }
  /* -- Document --*/
  body {
   background: var(--background);
   background-image: url("../img/pixels.webp");
  }
  nav {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .nav-link a {
    padding-top: 1.2rem;
    margin-left: 1.5rem;
    transition: var(--reg);
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 60px;
  }
  .logo h1 {
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    font-size: 40px;
  }
  .center {
    line-height: 3.2rem;
  }

  a:link {
    color: var(--text);
    text-decoration: none;
  }
  a:visited {
    color: var(--text);
  }
  a:hover {
    color: var(--accent);
  }
  a:active, a.active {
    color: var(--accent);
  }
  video {
    object-fit: fill;
  }
  .left {
    display: flex;
    background-color: #130e0e;
  }
  .left p {
    float: left;
    text-overflow: clip;
    text-align: center;
    padding: 200px 0;
    margin: 10px;
  }
  .left img {
    float: right;
  }
  
  
  .eboard img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
  }
   .eboard img:hover{
    cursor: pointer;
    opacity:0.4 !important;
    filter:alpha(opacity=40) !important; 
    box-shadow: 0 0 0px #000000 !important;
    transition: var(--reg);
  }
  .eboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .eboard figcaption {
    text-align: center;
  }
  .right {
    display: flex;
    background-color: #130e0e;
    margin-bottom: 1.5rem;
  }

  .right iframe {
    width: 50%;
    float: left;
  }
  .right p {
    float: right;
    text-overflow: clip;
    text-align: center;
    padding: 200px 0;
    margin: 10px;
  }
  

  footer {
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  /*-- Media Queries --*/
  @media screen and (min-width: 550px) {
    body {width: 98vw;}
  }
  @media screen and (min-width: 768px) {
    body {width: 86vw;}
    blockquote {width: 50vw;}
  }
  @media screen and (min-width: 990px) {
    body {width: 84vw;}
    .main-nav {flex-direction: row; justify-content: space-between;}
    section.odd {grid-template-columns: 1fr 1fr;}
    section.even {grid-template-columns: 1fr 1fr;}
    .glass-outer {order: inherit;}
  }
  @media screen and (min-width: 1280px) {
    body {width: 80vw;}
    blockquote {width: 33vw;}
  }
  @media screen and (min-width: 1440px) {
    body {width: 78vw;}
    section.odd {grid-template-columns: 8fr 4fr;}
    section.even {grid-template-columns: 4fr 8fr;}
  }